* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Monserrat', sans-serif;
    background-color: #F2CF59;
}
header{
    margin-left: 3%;
}
main{
    display: flex;
    justify-content: space-around;
}
.logo{
    margin: 1% 0;
    color:  #FA6E4F;
}
.headerInstruction{
    color:  #FA6E4F;
}
.instructions{
    margin: 1em;
    color:  #FA6E4F;
}
ol li {
    background: #F8CA9D;
    padding: 5px;
    margin-left: 35px;
}
ul li {
    background: #cce5ff;
    margin: 5px;
}
#restart{
    width: 30%;
    height: 15%;
    margin: 25% 0 0 35%;
}
.draggableContainer {
    display: flex;
    flex-flow: row wrap;
    max-height: 32em;
    max-width: 15em;
}
.draggable {
    width: 5em;
    height: 5em;
    cursor: move;
    transition: opacity 0.2s;
    border: solid;
    border-color:#8EC9BB;
    border-radius: 0.5em;
    margin: 1em;
}
.draggable:hover {
    opacity: 0.5;
}
.droppable { 
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    opacity: 0.9;
    border: 3px dashed #3e5550;
    transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}
.droppable span {
    pointer-events: none; /* Avoiding span to trigger events*/
}
/* Drag and drop related styling */
.droppable.droppable-hover {
    border-width: 5px;
    transform: scale(1.1);
}
.droppable.dropped {
    border-style: none;
    opacity: 1;
    background-color: transparent;
}
.droppable.droppable span {
    font-size: 0.75rem;
    margin-top: 0.5rem;
}
.droppable.dropped img {
    pointer-events: none;
}
.draggable.dragged {
    user-select: none;
    opacity: 0.1;
    cursor: default;
}
.draggable.dragged:hover {
    opacity: 0.1;
}
.droppableContainer {
    display: flex;
}
.canvas {
    position: relative;
    border: solid;
    border-color: #8EC9BB;
    width: 46em;
    height: 31em;
    background-image: url(./img/fullImage.jpg);
    background-size: cover;
    border-radius: 0.5em;
    margin-top: 1em;
}
.doorDiv {
    position: absolute;
    top: 15em;
    left: 12.8em;
    width: 4em;
    height: 8em;
}
.windowDiv {
    position: absolute;
    top: 15em;
    left: 9.5em;
    width: 3em;
    height: 4em;
}
.treeDiv{
    position: absolute;
    top: 9em;
    left: 34em;
    width: 10em;
    height: 14em;
}
.chimneyDiv {
    position: absolute;
    top: 4.5em;
    left: 19.5em;
    width: 4em;
    height: 5em;
}
.appleDiv {
    position: absolute;
    top: 4em;
    left: 39em;
    width: 3em;
    height: 3em;
}
.cloudDiv {
    position: absolute;
    top: 0;
    left: 18em;
    width: 12.5em;
    height: 3em;
}
.sunDiv {
    position: absolute;
    top: 0.4em;
    left: 4em;
    width: 7em;
    height: 6em;
}
.sunflowerDiv {
    position: absolute;
    top: 23em;
    left: 0.3em;
    width: 5em;
    height: 6.5em;
}
