* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Monserrat', sans-serif;
    background-color: rgb(230, 123, 123);
    color: #111;
}
header{
    margin-left: 3%;
}
main{
    display: flex;
    justify-content: space-around;
}
.logo{
    margin: 1% 0;
    color: cornsilk;
}
.instructions{
    color: rgb(36, 36, 36);
}
.draggableContainer {
    display: flex;
    flex-flow: row wrap;
    max-height: 32em;
    max-width: 20em;
}
.draggable {
    width: 6em;
    height: 6em;
    cursor: move;
    transition: opacity 0.2s;
    border: solid;
    border-color: rgb(29, 28, 28);
    border-radius: 0.5em;
    margin: 1em;
}
.draggable:hover {
    opacity: 0.5;
}
.droppable { 
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    opacity: 0.9;
    border: 3px dashed #111;
    transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}
.droppable span {
    pointer-events: none; /* Avoiding span to trigger events*/
}
/* Drag and drop related styling */
.droppable.droppable-hover {
    border-width: 5px;
    transform: scale(1.1);
}
.droppable.dropped {
    border-style: none;
    opacity: 1;
    background-color: transparent;
}
.droppable.droppable span {
    font-size: 0.75rem;
    margin-top: 0.5rem;
}
.droppable.dropped img {
    pointer-events: none;
}
.draggable.dragged {
    user-select: none;
    opacity: 0.1;
    cursor: default;
}
.draggable.dragged:hover {
    opacity: 0.1;
}
.droppableContainer {
    display: flex;
    }
.canvas {
    position: relative;
    border: solid;
    border-color: rgb(29, 28, 28);
    width: 55em;
    height: 32em;
    background-image: url(./img/houseComplete.jpg);
    background-size: cover;
    border-radius: 0.5em;
    margin-top: 1em;
}
.doorDiv {
    position: absolute;
    top: 18em;
    left: 15.4em;
    width: 5em;
    height: 9.7em;
}
.windowDiv {
    position: absolute;
    top: 18.2em;
    left: 11.5em;
    width: 3.5em;
    height: 4.6em;
}
.treesDiv{
    position: absolute;
    top: 10em;
    left: 40em;
    width: 13em;
    height: 18em;
}
.chimneyDiv {
    position: absolute;
    top: 5em;
    left: 23em;
    width: 5em;
    height: 6em;
}
.appleDiv {
    position: absolute;
    top: 6em;
    left: 40em;
    width: 3em;
    height: 3em;
}
.cloudDiv {
    position: absolute;
    top: 0;
    left: 22em;
    width: 15em;
    height: 4em;
}
.sunDiv {
    position: absolute;
    top: 0.7em;
    left: 5em;
    width: 7.5em;
    height: 7em;
}
