* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Monserrat', sans-serif;
    background-color: rgb(192, 121, 121);
    color: #111;
}
.draggableContainer {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.draggable {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem, 0.5rem;
    cursor: move;
    transition: opacity 0.2s;
    border: solid;
    border-color: rgb(113, 152, 189);
    object-fit: scale-down;
}
.draggable:hover {
    opacity: 0.5;
}
.droppable { 
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    opacity: 0.7;
    border: 3px dashed #111;
    transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}
.droppable span {
    pointer-events: none; /* Avoiding span to trigger events*/
}
/* Drag and drop related styling */
.droppable.droppable-hover {
    border-width: 5px;
    transform: scale(1.1);
}
.droppable.dropped {
    border-style: none;
    opacity: 1;
    background-color: transparent;
}
.droppable.droppable span {
    font-size: 0.75rem;
    margin-top: 0.5rem;
}
.droppable.dropped img {
    pointer-events: none;
}
.draggable.dragged {
    user-select: none;
    opacity: 0.1;
    cursor: default;
}
.draggable.dragged:hover {
    opacity: 0.1;
}
.droppableContainer {
    display: flex;
    justify-content: center;
    }
.canvas {
    position: relative;
    border: solid;
    border-color: chocolate;
    width: 40em;
    height: 30em;
    background-image: url(./img/houseComplete.jpg);
    background-size: cover;
}
.doorDiv {
    position: absolute;
    top: 13em;
    left: 11em;
    width: 4em;
    height: 6.5em;
}
.windowDiv {
    position: absolute;
    top: 13em;
    left: 8.3em;
    width: 2.5em;
    height: 3.5em;
}
.treesDiv{
    position: absolute;
    top: 2.5em;
    left: 25em;
    width: 13em;
    height: 19em;
}
.chimneyDiv {
    position: absolute;
    top: 4em;
    left: 17em;
    width: 3em;
    height: 5em;
}
.appleDiv {
    position: absolute;
    top: 10em;
    left: 31em;
    width: 2em;
    height: 2em;
}
.cloudDiv {
    position: absolute;
    top: 0;
    left: 15em;
    width: 11em;
    height: 2em;
}
.sunDiv {
    position: absolute;
    top: 0.5em;
    left: 4em;
    width: 5em;
    height: 4em;
}
